body {
background: rosybrown;
}



.card-item a {
    background: #fff;
    text-decoration: none;
    width: 288px;
    display: block;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    color: #29363d;
    border-radius: 8px;
    overflow: hidden;
}

.card-item img {
    width: 100%;
    aspect-ratio: 288/196;
    object-fit: cover;
    vertical-align: top;
}
.card-text {
    padding: 24px 16px 16px;

}

.card-text .title {
    font-size: 16px;
    white-space: nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}

.card-text .title + p {
    font-size: 12px;
    color : #5A6A72;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    line-height: 20px;
}

.underline{
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
}